.judgment-details {
    padding: 0rem 0.5rem;
    background-color: #fff;
    width: 55%;
    text-align: left;
}

p.judgment-name {
    margin-top: 7px;
    margin: 5px 3px;
}

span.separator {
    font-weight: bold;
    display: inline-block;
}

@media (max-width: 576px) {
    .judgment-details {
        margin: 0 auto;
    }
}