.copy-text {
    padding: 1rem;
    width: 70%;
    margin: 20px auto;
    border: solid #FFB952 1px;
    text-align: center;
}

p.judgment-name {
    font-size: 0.93rem;
    margin-top: 7px;
}

span.separator::before {
    content: "\2014\00A0 ";
}


button {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    user-select: none;
    font-size: 0.93rem;
    background-color: #eaeaea;
    border: none;
}

button:hover {
    background-color: #777;
    cursor: -webkit-grab; cursor: grab;
    color: #ffffff;
}

h3 {
    font-weight: bold;
    font-size: 0.93rem;
    padding-bottom: 0px;
    margin-top: 7px;
}