.judgment-details {
    padding: 0rem 0.5rem;
    background-color: #fff;
    width: 64%;
    text-align: left;
    font-size: 1.6rem;
}

p.judgment-name {
    margin-top: 7px;
    margin: 5px 3px;
}

span.separator {
    font-weight: bold;
    display: inline-block;
    padding-right: 1rem;
}



a.copy-name {
    color: #037091;
    display: inline;
    position: relative;
    margin: 0 20px 0 0;
    background-color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #037091;
    padding: 2px 0px;
  }
  
a.copy-name::before {
    content: '';
    background-image: url("copy-icon-blue.svg");
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 0.25rem 0 0;
    position: relative;
    top: 0.4rem;
  }






@media (max-width: 576px) {
    .judgment-details {
        margin: 0 auto;
    }
}


@media (max-width: 768px) {
    .judgment-details {
      min-width: 90%;
      text-align: center; 
      margin: 0;
      width: 100%;
  
    }
  }