/* MOBILE */

.main-nav {
  background-color: #fff;
  border-bottom: solid 1px #808080;
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.main-nav li a {
  display: block;
  margin-left: 3px;
  color: #000;
}

.main-nav li a:hover {
  text-decoration: none;
}

/* menu */

.main-nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.main-nav .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.main-nav .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.main-nav .menu-icon .nav-icon:before,
.main-nav .menu-icon .nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.main-nav .menu-icon .nav-icon:before {
  top: 5px;
}

.main-nav .menu-icon .nav-icon:after {
  top: -5px;
}

/* my divs  */

.actions {
  float: left;
  display: inline;
  position: absolute;
  top: 20px;
  margin-left: 2rem;
}

.actions li {
  display: inline;
}

li.search {
  padding-left: 30px;
  border-bottom: none;
}

li.search a:before {
  content: "";
  display: block;
  background: url("search-icon.svg") no-repeat;
  width: 19px;
  height: 19px;
  float: left;
  margin: 0 7px 0 0px;
}

li.logout a:before {
  content: "";
  background: url("logout-icon.svg") no-repeat;
  width: 19px;
  height: 19px;
  float: left;
  margin: 0 7px 0 0px;
}

.actions li a {
  display: inline-block;
  text-decoration: none;
  color: #1d70b8;
  border-bottom: none;
  padding-bottom: 2px;
  margin-right: 20px;
}

.actions a:hover {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: none;
  color: #003078;
  text-decoration: none;
}

.main-nav li {
  padding: 0px 0px;
}

.main-nav li {
  display: inline;
  position: relative;
  padding-right: 3px;
}

.menu ul li {
  background-color: red;
}

.menu li a {
  padding: 20px 30px;
  border-top: solid 1px #bbb;
  margin-left: 0px;
  margin-bottom: -20px;
  color: #1d70b8;

}

.menu a:hover {
  background-color: #efefef;
  color: #003078;
}


/* menu btn */

.main-nav .menu-btn {
  display: none;
}

.main-nav .menu-btn:checked~.menu {
  max-height: 240px;
}

.main-nav .menu-btn:checked~.menu-icon .nav-icon {
  background: transparent;
}

.main-nav .menu-btn:checked~.menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.main-nav .menu-btn:checked~.menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

/* DESKTOP 48em = 768px @ 16pt font */

@media (min-width: 970px) {
  .main-nav li {
    float: left;
    margin: 20px;
  }

  .main-nav li a {
    padding: 0px;
    color: #1d70b8;
    display: block;
  }

  .main-nav .menu {
    clear: none;
    float: left;
    max-height: none;
  }

  .main-nav .menu-icon {
    display: none;
  }

  .menu li a {
    border-top: none;
    padding: 0;
    border-bottom: solid 2px #1d70b8;
    padding-bottom: 2px;
    text-decoration: none;
  }

  .menu li a:hover {
    border-bottom: none;
    color: #003078;
  }

  .menu a:hover {
    background-color: #ffffff;
  }

  .actions {
    float: right;
    position: relative;
    top: 0px;
    margin-left: 1rem;
  }

  .actions li a {
    border-bottom: none;
  }
}